<h1>Hello World from hello!</h1>

<% 1 + 1 %> 
<%= 2 + 2 %>
<br>
<% target = "world" %>
<%= "Hello #{target}" %>
<br>
<% @array.each do |n| %>
    <%= n %><br>
<% end %>

<!-- this will work, but not rails convention -->
<!-- <a href="/demo/index">index page</a> -->
<br>
<%= link_to('Index page', {:action => 'index'}) %><br>